@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    cursor: url("~/static/cursor/normal.png"), auto;

}

@font-face {
    font-family: "SFB";
    src: url(~/assets/fonts/SFBOLD.OTF);
}

@font-face {
    font-family: "SFSB";
    src: url(~/assets/fonts/SFSEMIBOLD.OTF);
}

@font-face {
    font-family: "SFHI";
    src: url(~/assets/fonts/SFHEAVYITALIC.OTF);
}

@font-face {
    font-family: "SFR";
    src: url(~/assets/fonts/SFREGULAR.OTF);
}

@font-face {
    font-family: "SFTI";
    src: url(~/assets/fonts/SFTHINITALIC.OTF);
}

@font-face {
    font-family: "SFLI";
    src: url(~/assets/fonts/SFLIGHTITALIC.OTF);
}

@font-face {
    font-family: "SFI";
    src: url(~/assets/fonts/SFITALIC.OTF);
}

@font-face {
    font-family: "SFM";
    src: url(~/assets/fonts/SFMEDIUM.OTF);
}

img {
    backface-visibility: hidden;
    -ms-transform: translateZ(0);
    /* IE 9 */
    -webkit-transform: translateZ(0);
    /* Chrome, Safari, Opera */
    transform: translateZ(0);

    image-rendering: -moz-crisp-edges;
    /* Firefox */
    image-rendering: -o-crisp-edges;
    /* Opera */
    image-rendering: -webkit-optimize-contrast;
    /* Webkit (non-standard naming) */
    image-rendering: high-quality;
    -ms-interpolation-mode: nearest-neighbor;
    /* IE (non-standard property) */

    image-rendering: high-quality;
}

html,
body,
#__nuxt,
#__layout {
    height: 100% !important;
    width: 100% !important;
}

h2 {
    font-family: 'Space Mono', monospace;
    font-style: italic;
    font-weight: 200;
}

h4 {
    font-family: "SFR", serif;
    font-size: 1.5rem;
}

h5 {
    font-family: "SFTI", serif;
    font-size: 1.5rem;
}