@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    cursor: url("~/static/cursor/normal.png"), auto;
}

html,
body,
#__nuxt,
#__layout {
    height: 100% !important;
    width: 100% !important;
}

h2 {
    font-family: 'Space Mono', monospace;
    font-style: italic;
    font-weight: 200;
}