@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    cursor: url("~/static/cursor/normal.png"), auto;

}

img {
    backface-visibility: hidden;
    -ms-transform: translateZ(0);
    /* IE 9 */
    -webkit-transform: translateZ(0);
    /* Chrome, Safari, Opera */
    transform: translateZ(0);

    image-rendering: -moz-crisp-edges;
    /* Firefox */
    image-rendering: -o-crisp-edges;
    /* Opera */
    image-rendering: -webkit-optimize-contrast;
    /* Webkit (non-standard naming) */
    image-rendering: high-quality;
    -ms-interpolation-mode: nearest-neighbor;
    /* IE (non-standard property) */

    image-rendering: high-quality;
}

html,
body,
#__nuxt,
#__layout {
    height: 100% !important;
    width: 100% !important;
}

h2 {
    font-family: 'Space Mono', monospace;
    font-style: italic;
    font-weight: 200;
}